langchain_openai
langchain_core
python-dotenv
streamlit
langchain_community
langchain
langserve
fastapi
uvicorn
sse_starlette  # used to implement server-sent events (SSE) with Python FastAPI
bs4
pypdf
chromadb
faiss-cpu
langchain-text-splitters